body {
    /* font-family: Arial, sans-serif; */
    font-family: Fira Sans;
    margin: 20px;
    padding: 0;
  }
  
  .containers {
    max-width: 1280px;
    margin: 0 auto;
    
  }

  .banner {
    display: flex;
    height: 560px;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

p.banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

p.banner-desc {
    color: rgb(14, 14, 14);
    width: 622px;
    height: 201px;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
    gap:16;
    padding: 0px;
}

button.banner-text  {
    width: 270px;
    height: 56px;
    
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;

    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    gap:24;
}

.banner-image {
            width: 475px;
            height: 400px;
        }

.Futures {
    display: flex;
    gap: 20px;
    height: 325px;     
  }
  
  .item {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    width: 410.67px;
    height: 325px;
  }
  .item-digital{
    background: rgba(84, 144, 245, 0.2);
  }

  .item-green{
    background-color: rgb(198, 228, 214);
  }

  .item-modern{
    background-color: rgb(247, 235, 207)
  }

  .item-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

.future-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.future-desc {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.future-text {
    width: 270px;
    height: 56px;
    font-size: 16px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    margin: 24px 0px;
}

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
  }

  .news-container {
    display: flex;
    border-radius: 24px;
    gap: 20px;
    height: 325px; 
    background-color:rgb(255, 255, 255);
    padding: 48px;
    
  }

  .news {
    border-radius: 24px;
    padding: 28px;
  }

  .news-title {
    width: 744px;
    height: 38px;
    padding: 0px;
    margin: 24px; 
  } 

  .news-img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
    background: url(image);
  }

  .news-ico{
    width: 134px;
    height: 40px;    
  }

  .time{
    display: flex;    
    flex-direction: row;
    gap: 12;
    padding: 0px;    
  }

  .donate{
    /* Donate Today */
    position: static;
    width: 1280px;
    height: 48px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
  }

  .donate-title {
    text-align: center;
  }

  .donate-desc{
    text-align: center;
  }

  .card{
    display: flex;
    width: 1071px;
    height: 128px;
  }
  .card-title{
    text-align: center;
    justify-content: center;
  }

  .card-content{
    width: 240px;
    height: 128px;
    gap: 24;
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
  }

  .donate-input{
     background: rgb(255, 255, 255);
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
     gap: 24;
    width: 1000px;  
    padding: 10px;
    margin: 0px 24px;
  }

  input[type="text"] {
    width: 100%; /* Input takes full width */
    padding: 10px 15px;
    border: 1px solid #ddd; /* Light border */
    align-items: center;
  }
  
  .donate-amt{
    width: 100%;
  }